
<div style="background-color:#fcc8c7;padding:15px;">
    <table style="width:100%;height:40%;background-color:#c7fbfc;"><!--table used-->
        <tr style="background-color:#c7fbfc;">
        <td style="width:30%">
        <div style="margin-left:30px;padding:50px 100px 50px 100px;background-color:#c7fbfc;width:400px;">
            <!--image used-->
            <img style="height:500px;border-radius:50px" src="https://cdn.pixabay.com/photo/2016/04/21/01/31/handsome-1342457_1280.jpg">
        </div>
        </td>
        <td>
        <div>
            <h1 style="font-size:90px;font-family:Avenir Next;line-height:1%;">Hello!</h1><!--heading used-->
            <h1 style="font-size:70px;font-family:Avenir Next;line-height:110%;">My Name is<br>
            Abhilash</h1>
            <!--paragraph used-->
            <p style="font-family:Avenir;color:#F8817E">Hi, I am a 3rd year computer-science student at Sikkim Manipal Institute<br>
            of Technology and I am learning to make Awsome web applications<br>
            Welcome to my biodata page!<br></p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        </td>
        </tr>
    </table>
    <table style="width:100%;">
        <tr>
            <td style="width:50%">
                <div style="background-color:#ffffff;border-radius:40px;padding:20px;margin-top:20px;margin-right:10px;">
                <div style="text-align:center;color:grey;">
                <h1><b>About me</b></h1>
                </div>
                <ul style="color:#2c041c;font-family:Avenir Next;font-size:30px"><!--list used-->
                    <li>Full Name: Abhilash Patel</li>
                    <li>Age: 19</li>
                    <li>email:<a href="https://www.google.co.in"> abhilash_201800589@smit.smu.edu.in</a></li><!--link used-->
                    <li>contact: 0123456789</li>
                    <li>registration-num: 201800589</li>
                </ul>
                </div>
            </td>
            <td style="width:50%">
                <div style="background-color:#ffffff;border-radius:40px;padding:20px;margin-top:20px;">
                <div style="text-align:center;color:grey;">
                <h1><b>My Skills</b></h1>
                <br>
                </div>
                <ol style="color:#2c041c;font-family:Avenir Next;font-size:30px">
                    <li>C/C++</li>
                    <li>Java</li>
                    <li>HTML, CSS and JavaScript</li>
                    <li>MySQL</li>
                </ol>
                </div>
            </td>
        </tr>
    </table>
</div>